form {
  display: flex;
  flex-direction: column;
  width: 50vh;
  padding: 20px;
}

form textarea {
  width: 35vh;
  height: 15vh;
  margin: 10px;
}

form input {
  width: max-content;
  margin: 0 auto;
}

.navbar {
  font-size: 1.4rem;
  right: 0;
  margin: 10px;
  position: absolute;
}

.navbar span {
  padding: 10px;
}

.midRow {
  padding: 5vh;
}

.testBtn {
  padding: 10px;
}

.mainHeading {
  color: #500ad2;
  font-size: 3rem;
}

.data {
  padding: 25px;
}

.dataHeader {
  color: #500ad2;
}

.dataDesc {
  width: 280px;
}

ul {
  list-style-type: none;
}
