.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 37, 37);
  color: rgb(24, 24, 24);
}

.title {
  font-size: 1.5rem;
  margin: .5rem;
  text-decoration: none;
  color: rgb(43, 43, 43);
}

.navbarLinks {
  height: 100%;
}

.navbarLinks ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbarLinks li {
  list-style: none;
}

.navbarLinks li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbarLinks li:hover {
  background-color: rgb(112, 112, 112);
}

.toggleButton {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggleButton:hover {
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggleButton {
      display: flex;
  }

  .navbarLinks {
      display: none;
      width: 100%;
  }

  .navbarLinks ul {
      width: 100%;
      flex-direction: column;
  }

  .navbarLinks ul li {
      text-align: center;
  }

  .navbarLinks ul li a {
      padding: .5rem 1rem;
  }

  .navbarLinks.active {
      display: flex;
  }
}